# macOS
**/.DS_Store

# SwiftPM build artifacts (anywhere)
**/.build/

# SwiftPM metadata
**/.swiftpm/

# SwiftPM package checkouts
**/Packages/

# Xcode junk
**/xcuserdata/
**/DerivedData/

# User-specific config
**/.netrc

